<ul id="sections-sidebar" class="sidebar">
  <li><a>World</a></li>
  <li>
    <a>San Francisco</a>
    <ul class="submenu">
      <li><span class="submenu-title">San Francisco</span></li>
      <li><a>Students</a></li>
      <li><a>Teaching Assistants</a></li>
      <li><a>Instructors</a></li>
      <li><a>Career Advisors</a></li>
      <li><a>Cats</a></li>
    </ul>
  </li>
  <li>
    <a>New York</a>
  </li>
  <li>
    <a>Bootcamp Prep</a>
    <ul class="submenu">
      <li><span class="submenu-title">Bootcamp Prep</span></li>
      <li><a>Students</a></li>
      <li><a>Instructors</a></li>
      <li><a>Cats</a></li>
    </ul>
  </li>
  <li>
    <a>Jumpstart</a>
  </li>
  <li>
    <a>Online</a>
    <ul class="submenu">
      <li><span class="submenu-title">Online</span></li>
      <li><a>Immersive</a></li>
      <li><a>Bootcamp Prep</a></li>
      <li><a>Cats</a></li>
    </ul>
  </li>
  <li>
    <a>Marketing</a>
  </li>
  <li>
    <a>Sales</a>
    <ul class="submenu">
      <li><span class="submenu-title">Sales</span></li>
      <li><a>Associates</a></li>
      <li><a>Analytics</a></li>
      <li><a>Cats</a></li>
    </ul>
  </li>
  <li>
    <a>TalentMatch</a>
  </li>
  <li>
    <a>Alumni</a>
    <ul class="submenu">
      <li><span class="submenu-title">Alumni</span></li>
      <li><a>Students</a></li>
      <li><a>Companies</a></li>
      <li><a>Opinions</a></li>
      <li><a>Cats</a></li>
    </ul>
  </li>
  <li>
    <a>All</a>
  </li>
</ul>
